{% extends 'app/base.html' %}

{% block extra-header-elements %}
   <style type="text/css">
     body{
         background-image:none;
         background-color: transparent;
     }
   </style>
   <link href="/static/plugins/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{#    <script src="/static/plugins/fileinput/js/fileinput_locale_fr.js" type="text/javascript"></script>#}
{#    <script src="/static/plugins/fileinput/js/fileinput_locale_es.js" type="text/javascript"></script>#}

{% endblock %}

{% block page-container %}


<input id="input-id" name="kartik-input-700[]" type="file" multiple class="file-loading">


{% endblock %}

{% block bottom-js %}
<script src="/static/plugins/fileinput/js/fileinput.js" type="text/javascript"></script>

<script>

$(document).ready(function(){


    // with plugin options
    $("#input-id").fileinput({
        showUpload:false,
        previewFileType:'any',
        uploadUrl: "http://localhost/file-upload-single/1", // server upload action
        uploadAsync: true,
        maxFileCount: 5

    });



}); //end doc ready
</script>

{% endblock %}